<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">About</h1>
    <div class="container d-flex justify-content-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus laboriosam cupiditate ea omnis rem ipsa dicta saepe quis necessitatibus! Neque, sit, nisi. Excepturi aut obcaecati nam sequi, officiis dolorum quam.
    </div>
  </div>
</div>
