<div class="container" id="hide">
  <div class="jumbotron">
    <h1 class="text-center">Create a Recipe</h1>
    <div class="form-group">
      <%= form_for [@recipe.user, @recipe] do |f|%>
        <%= render :partial => 'form', :locals => {:f => f} %>
        <label for="[recipe]ingredient[][name]">Item Name</label>
        <input type="text" name="[recipe]ingredient[][name]" value="ingredient1">

        <label for="[recipe]ingredient[][quantity]">Item Quantity</label>
        <input type="text" name="[recipe]ingredient[][quantity]" value=0>

        <label for="[recipe]ingredient[][name]">Item Name</label>
        <input type="text" name="[recipe]ingredient[][name]" value="ingredient2">

        <label for="[recipe]ingredient[][quantity]">Item Quantity</label>
        <input type="text" name="[recipe]ingredient[][quantity]" value=0>
        <%= f.submit "Create Recipe", :class => "btn btn-primary mt-2", :id => "new_submit" %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">

  $('#new_submit').click((event) => {
    event.preventDefault();
    const data = $('form').serializeArray();
    let recipeData = JSONFormatter.prepJSONPost(data);
    $.post('/recipes', recipeData, function(data){
      let recipe = JSONFormatter.parseJSONPost(data);
      $('#hide').hide();
    $('#recipes').html(recipe)
    });
  });
</script>






<!-- <script type="text/javascript" charset="utf-8">
  $('#new_submit').click((event) => {
    event.preventDefault();
    const formData = $('form').serializeArray();
    $.ajax({ url: '/recipes',
      type: 'POST',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      data: formData,
      success: function(response) {
        $('form').hide()
        $('#recipes').html(response);
        console.log(response)

      }
    });
  });
</script> -->
